@import "../../index.scss";

.empty-clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text;
  text-align: center;

  figure {
    margin: 0;
  }

  img {
    width: 100%;
    max-width: 40rem;
  }

  p {
    margin-top: 1.2rem;
  }

  a {
    color: $primary-blue;
  }
}
