@import "../../index.scss";

.header-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  border-bottom: 0.1rem solid #dddddd;
}

figure {
  padding: 0 0.8rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
    max-width: 60rem;
  }

  figcaption {
    margin-top: 4rem;
    color: $text;
  }

  a {
    color: $primary-blue;
  }
}
